.listContainer {
    width: 100%;
    max-width: 500px;
    margin: 10px 10px 50px 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(193, 193, 193);
}

.listContainer button {
    border-radius: 5px;
    background-color: transparent;
    color: black;
}

.listContainer button:hover, .listContainer button:focus {
    outline: 2px solid #32a2ad;
    transition: none;
}

.listTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.listTitle button {
    margin-left: 3px;
    margin-top: 2px;
    padding-top: 2px;
}

.listItem {
    display: flex;
    word-break: break-word;
    min-height: 35px;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: white;
}

.listItem p {
    max-width: 90%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: black;
    font-size: 1.3rem;
}

.newItemContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.newItemContainer:focus-within {
    outline: 2px solid blue;
}