.newListInputContainer {
    width: 100%;
    max-width: 500px;
    margin: 30px 0 50px 0;
}

.newListInputContainer input {
    border: 2px solid transparent; 
    border-radius: 5px 0 0 5px;
}


.newListInputContainer input:focus, .newListInputContainer input:hover {
    border: 2px solid #32a2ad;
}

.newListInputContainer button {
    width: 180px;
    border-radius: 0 5px 5px 0;
}

.subContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}