* {
    box-sizing: border-box;
}

body {
    background-color: #E1E8ED;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 0;
    cursor: pointer;
    border: none;
    color: black;
    background-color: transparent;
    font-size: 1.1rem;
    padding-bottom: 3px;
}

button:hover, button:focus {
    outline: none;
    background-color: rgb(219, 216, 216);
}

button:disabled {
    background-color: rgb(219, 216, 216);
    color: gray;
    cursor: not-allowed;
}

p {
    margin: 0;
}

input {
    height: 35px;
    border: none;
    margin: 0 3px 0 0;
    padding: 10px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}