.listGrid {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.listGrid p {
    font-size: 1.2rem;
    color: rgb(96, 96, 96);
}

.placeholderDiv {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
    background-color: transparent;
}

