.listGrid {
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.placeholderDiv {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
    background-color: transparent;
}

