.newListInputContainer {
    width: 95%;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 50px 0;
}

@media screen and (min-width: 768px) {
    .newListInputContainer {
        max-width: 300px;
    }
}

.newListInputContainer label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.newListInputContainer button {
    width: 175px;
}

.subContainer {
    width: 100%;
    display: flex;
    background-color: white;
}