.toastOverlay {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toast {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightgreen;
    box-shadow: 2px 2px 10px gray;
}

.toastHead{
    display: flex;
    justify-content: space-between;
}

.toast button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 30px;
}