.toastOverlay {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toast {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    height: 100px;
    margin-bottom: 40px;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    padding: 15px;
}

.toast h3 {
    margin: 0;
}

.toastHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px 0 10px 0;
}

.headContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headContainer h3 {
    margin-left: 10px;
}

.toast button {
    outline: none;
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
    color: black;
}

.toast button:hover, .toast button:focus {
    background-color: rgb(221, 220, 220);
}

.toast p {
    margin-left: 36px;
}